.labelText {
    text-align: left;
    color:cyan;
}

.field {
    align-self: right;
}

.nameField{
    background-color: white;
}

.nameField.invalid {
    background-color:rgb(224, 151, 151);
}
.strengthField.invalid {
    background-color:rgb(224, 151, 151);
}