.monster {
    margin: .2rem;
    background: #0d0b24;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.26);
    color: white;
    padding: 5px 3rem;
    cursor: pointer;
  }

p{
    color:rgb(178, 179, 238);
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
