h3{
    color:aqua;
}

.arenaMonsters{
    color: red;
}

p{
    color:white;
}

.monChampContainer{
    display:flex;
     flex-direction:row;
     padding: 10px;
    }

.arenaChampions{
    padding-left: 15%;
}